<div class="font-ubuntu">
    <!-- Seccion 1: Timeline -->
    <div class="mb-10 px-6 md:px-12 lg:px-20 py-12">
        <h1 class="text-corpo text-3xl font-medium mb-2">Nuestra Historia</h1>

        <app-timeline></app-timeline>

    </div>

    <!-- Seccion 2: Parrafo+imagen -->
    <div class="mb-10 px-6 md:px-12 lg:px-20 py-8">
        <h1 class="text-corpo text-3xl font-medium mb-2">Quienes Somos</h1>
        <p class="text-black text-xl text-justify mb-4">
            Somos Xtrim®, un grupo corporativo ecuatoriano con más de tres décadas de experiencia en el sector de las telecomunicaciones. 
            Nuestra organización está formada por empresas especializadas en tecnología y servicios de valor agregado que evolucionan 
            constantemente para conectar a las personas con lo que más disfrutan.
        </p>
        <p class="text-black text-xl text-justify mb-4">
            Creemos en la innovación, la cercanía y el trabajo en equipo como pilares de nuestro crecimiento. Por eso, cada uno de nuestros 
            colaboradores es clave en el desarrollo de soluciones que transforman la forma en que los ecuatorianos ven, escuchan, trabajan y se comunican.
        </p>
        <p class="text-black text-xl text-justify mb-4">
            Hoy somos más que un proveedor de servicios: somos una comunidad comprometida con el futuro digital del país.
        </p>
        <img
            src="./equipo-xtrim.png"
            alt="Equipo Xtrim"
            class="w-full max-w-lg rounded-xl shadow-md max-w-6xl mx-auto text-center mt-10"
        />
    </div>

    <!-- Sección 3: Cards -->
    <div class="mb-10 px-6 md:px-12 lg:px-20 py-8">
    <h1 class="text-corpo text-3xl font-medium mb-6">Somos Xtrim</h1>
    <div class="max-w-2xl mx-auto grid grid-cols-1 md:grid-cols-[1.05fr_1fr] gap-6">
        <!-- Card Izquierda -->
        <div class="bg-corpo border border-darkcorpo rounded-xl shadow-md h-full overflow-hidden flex flex-col">
        <div class="h-1/2 w-full">
            <img src="./arte-card.svg" alt="Arte Xtrim" class="w-full h-full object-cover" />
        </div>
        <div class="h-1/2 p-6 flex flex-col justify-center">
            <h3 class="text-white text-lg font-semibold mb-3">Qué significa “ser” Xtrim</h3>
            <p class="text-white text-sm text-justify leading-relaxed">
            Más que una empresa, somos una comunidad apasionada por conectar, entretener e innovar. Ser Xtrimer es vivir con energía,
            romper los límites y avanzar con tecnología, compromiso y actitud. Transformamos lo cotidiano en experiencias extraordinarias.
            </p>
        </div>
        </div>

        <!-- Cards Derecha -->
        <div class="flex flex-col gap-6">
        <div class="bg-white rounded-xl shadow-md p-6">
            <div class="flex items-center gap-3 mb-2">
            <img src="./icon-mision.svg" alt="Icono Misión" class="w-12 h-12" />
            <h3 class="text-corpo text-3xl font-semibold">Misión</h3>
            </div>
            <p class="text-gray-700 text-justify">
                Generar experiencias de servicio extraordinarias en entretenimiento, comunicación e 
                información, con recursos humanos comprometidos y procesos eficaces que superen las 
                expectativas de valor de nuestros clientes.
            </p>
        </div>
        <div class="bg-white rounded-xl shadow-md p-6">
            <div class="flex items-center gap-3 mb-2">
            <img src="./icon-vision.svg" alt="Icono Visión" class="w-12 h-12" />
            <h3 class="text-corpo text-3xl font-semibold">Visión</h3>
            </div>
            <p class="text-gray-700 text-justify ">
                Ser el mayor grupo privado del Ecuador en telecomunicaciones y entretenimiento que brinda 
                servicios de excelencia con calidad, innovación, responsabilidad y contenido.
            </p>
        </div>

        </div>
    </div>
    </div>

</div>
