/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import "js-datepicker/dist/datepicker.min";
@import "flowbite/src/themes/default";

@import "tailwindcss";
@source "../node_modules/flowbite-datepicker";



    @theme {
        --font-ubuntu: "Ubuntu", sans-serif;
        --font-montserrat: "Montserrat", sans-serif;
        --color-corpo: #83378F;
        --color-navbar:#582C63;
        --color-submenu:#EEDBFF;
        --color-darkmorado:#582C63;
        --color-footert: #333E48;
        --color-footerbg: #D7DAE1;
        --color-grad-start: #AF3BB1;
        --color-grad-end: #773282;
        --color-hover: #562577;
        --color-calendario-hover: #D5D4DF;
        --color-darkcorpo:#37173C;
        --color-lightcorpo: #A21CAF;
        --color-lightblack:#262626; 
        --color-corpogray: #E5E5E5;
    }

    html, body {
        height: 100%;
      }